<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Netstarter. All rights reserved.
 *
 * @category    CameraHouse
 * @package     CameraHouse_User
 * @author      Netstarter Team <contact@netstarter.com>
 * @copyright   Copyright (c) 2015 Netstarter Pty Ltd. (http://www.netstarter.com.au)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CameraHouse_User" setup_version="2.0.0" active="true">
    </module>
</config>
